@using Microsoft.AspNetCore.Identity
@using TournamentPlanner.DAL.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<TournamentPlanner.Models.PlayerViewModel>

@{
    ViewData["Title"] = "Index";
}

@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
 
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<h1>Index</h1>
    <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @if(SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                }|
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



