@model IEnumerable<TournamentPlanner.Models.PlayerViewModel>


<h4>Choose players</h4>
<hr />

@*1st method*@
@*<form method="post">  
    @foreach (var item in Model)
    
    {
        <input name="AreChecked" type="checkbox" value="@item.Id"  /> @item.FirstName <br />
    }
    <button action="AddPlayersToClub">Click</button>
</form>*@

@*2st method*@
<div class="row">
    <div class="col-md-4">
        <dt>
            @Html.Label("List of players without club:")
        </dt>
        <dd class = "col-sm-10">
            <hr />
            <form asp-action="AddPlayersToClub">
            <table>
                <tbody>
                     @foreach (var item in Model)
                     {
                         <tr>
                            <td>
                                @Html.CheckBox("AreChecked", false, new  { value = item.Id })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>

                         </tr>
                     }
                </tbody>
            </table>
             <hr />
            <input type="submit" value="Add" class="btn btn-primary" />
            </form>
            <a asp-controller="" asp-action="Index" asp-route-id="1">Return to clubs</a>
            @*How Can I get here ckub ID for Edit/{id}*@
           
        </dd>
    </div>
</div>

     