@model TournamentPlanner.Models.ClubViewModel

@{
    ViewData["Title"] = "View " + @Model.Title;
}

<h1>View</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
          <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
          <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("List of members:")
        </dt>
        <dd class = "col-sm-10">
            @Html.Label("List of players")
            <hr />
            <table>
                <tbody>
                     @foreach (var item in Model.PlayersList.ToList())
                     {
                         <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <a href="/Players/Details?id=@item.Id">Details</a>
                            </td>
                         </tr>
                     }
                </tbody>
            </table>
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Total players in club: ")
        </dt>
        <dd class = "col-sm-10">
            @ViewData["TotlaPlayers"].ToString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
